.ItemList {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
  margin-top: 20px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

.ItemList li {
  margin: 10px;
  background-color: #eee;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.ItemList img {
  width: 100%;
}

@media (min-width: 576px) {
  .ItemList li {
    width: initial;
    padding: 40px;
  }
}