.ItemList {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
  margin-top: 20px;
  list-style-type: none;
  margin: 0;
  padding: 40px;
  justify-content: center;
}

.ItemList li {
  margin: 10px;
  background-color: #eee;
  display: inline-block;
  /* width: 100%;
  flex: 1; */
  text-align: center;
  cursor: pointer;
}